[package]
name = "qv"
description = "quickly view your data"
version = "0.2.0"
edition = "2021"
homepage = "https://github.com/timvw/qv"
repository = "https://github.com/timvw/qv"
readme = "README.md"
authors = ["Tim Van Wassenhove <tim@timvw.be>"]
license = "Apache-2.0"
keywords = [ "quickview", "data", "query", "sql", "datafusion" ]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
camino = "1.0.9"
clap = { version = "3.1.18", features = ["derive"] }
datafusion = { version = "8.0.0", features = ["avro"] }
#datafusion = { git = "https://github.com/timvw/arrow-datafusion", branch = "master", features = ["avro"]  }
datafusion-objectstore-s3 = { git = "https://github.com/timvw/datafusion-objectstore-s3", branch = "bump-to-datafusion-8" }
tokio = "1.0"
