[package]
name = "qv"
description = "quickly view your data"
version = "0.4.0"
edition = "2021"
homepage = "https://github.com/timvw/qv"
repository = "https://github.com/timvw/qv"
readme = "README.md"
authors = ["Tim Van Wassenhove <tim@timvw.be>"]
license = "Apache-2.0"
keywords = [ "quickview", "data", "query", "sql", "datafusion" ]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aws-config = "0.49"
aws-sdk-glue = "0.19.0"
aws-types = "0.49"
chrono = "0.4.22"
clap = { version = "4.0.11", features = ["derive"] }
datafusion = { version = "12.0.0", features = ["avro"] }
deltalake = { git = "https://github.com/delta-io/delta-rs", default-features = false, features = ["datafusion-ext", "s3-rustls"] }
futures = "0.3"
glob = "0.3.0"
object_store = { version = "0.5.0", features = ["aws", "gcp"] }
regex = "1.6.0"
tokio = { version = "1.21", features = ["macros", "rt", "rt-multi-thread", "sync", "parking_lot"] }
url = "2.3"

[dev-dependencies]
assert_cmd = "2.0.4"
predicates = "2.1.1"
