name: "Publish binaries"

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10

defaults:
  run:
    shell: bash

jobs:
  upload-assets:
    name: ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-24.04
            needs_openssl: true
          - target: aarch64-unknown-linux-musl
            os: ubuntu-24.04
            needs_openssl: true
          - target: aarch64-apple-darwin
            os: macos-15
            needs_openssl: false
          - target: aarch64-pc-windows-msvc
            os: windows-2022
            needs_openssl: false
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-24.04
            needs_openssl: true
          - target: x86_64-unknown-linux-musl
            os: ubuntu-24.04
            needs_openssl: true
          - target: x86_64-apple-darwin
            os: macos-15
            needs_openssl: false
          - target: x86_64-pc-windows-msvc
            os: windows-2022
            needs_openssl: false
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Linux build deps
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libssl-dev
      - name: Build cross OpenSSL
        if: startsWith(matrix.os, 'ubuntu') && matrix.needs_openssl == true
        run: |
          chmod +x ./scripts/install-cross-openssl.sh
          ./scripts/install-cross-openssl.sh ${{ matrix.target }}
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}
        if: startsWith(matrix.os, 'ubuntu') && !contains(matrix.target, '-musl')
      - uses: taiki-e/install-action@cross
        if: contains(matrix.target, '-musl')
      - run: echo "RUSTFLAGS=${RUSTFLAGS} -C target-feature=+crt-static" >> "${GITHUB_ENV}"
        if: endsWith(matrix.target, 'windows-msvc')
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: qv
          target: ${{ matrix.target }}
          tar: all
          zip: windows
          token: ${{ secrets.GITHUB_TOKEN }}
